<!-- <app-blog-post-tile
  title="First Blog"
  description="First Description..."
></app-blog-post-tile>
<app-blog-post-tile
  title="Second Blog"
  description="Second Description..."
></app-blog-post-tile>
<app-blog-post-tile
  title="Third Blog"
  description="Third Description..."
></app-blog-post-tile> -->
<a (click)="expandAll()">Expand All</a>
<app-blog-post-tile
  #tile
  *ngFor="let post of blogPost[currentPage]"
  [post]="post"
></app-blog-post-tile>
<!-- <app-blog-post-tile [post]="blogPost[0][0]" #tile></app-blog-post-tile> -->

<app-paginator
  [pageNumbers]="blogPost.length"
  (pageNumberClick)="updatePageNumber($event)"
></app-paginator>

<!--Tells Angular to call this method when the child emits the event-->
